body {
    font-family: 'Noto Sans', sans-serif;
}
h1 {
    font-family: 'Space Mono', monospace;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
.extra-light {
    font-weight: 100;
}
.light {
    font-weight: 300;
}
.regular {
    font-weight: 400;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
.black {
    font-weight: 900;
}